@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Questrial&display=swap");

/*General Webpage Elements*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  color: #fff;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*Index.html Page*/
/**Header Styling**/
.header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 15rem;
  background-color: #253c1b;
}

/***Title Logo Styling***/
.header > h1 {
  align-self: center;
  margin: 100px;
}

#title-logo > #logo-link:link,
#title-logo > #logo-link:visited {
  color: #f7ecca;
  text-decoration: none;
  font-size: 300%;
}

/***Navigation Styling***/
.header > .nav-bar {
  display: flex;
  font-family: "Quattrocento", sans-serif;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
}

.nav-bar > .nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

ul > li {
  display: inline-block;
}

li > .links:link,
li > .links:visited {
  color: #000;
  background-color: #fff;
  border-radius: 40px;

  text-decoration: none;
  padding: 30px 40px;
  font-size: 350%;
  transition: all 0.3s;
}
li > .links:hover,
li > .links:active {
  background-color: #f7ecca;
}

li > #home-link-active:link,
li > #home-link-active:visited {
  background-color: #000;
  color: #f7ecca;
  border: 2px solid #f7ecca;
}

/**Main Styling**/
/***Hero Section***/
#hero-section {
  flex: 1 0 auto;

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url(../images/handing-over-earth-min.webp);
  background-size: cover;
  background-position: center center;
}

#hero-section > #hero-info {
  margin: 300px 100px;
  color: #f2f2f2;
}

#hero-info > #hero-text {
  text-align: center;
  font-size: 700%;
}

#hero-info > #volunteer {
  display: block;
  margin-top: 200px;
  font-size: 580%;
  text-align: center;
  color: #fff;
}

#hero-info > #arrows {
  display: block;
  text-align: center;
  position: relative;
  font-size: 600%;

  color: #fff;
  animation: arrow-down 1s linear 0.5s infinite alternate-reverse;
}
@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

#hero-info > #signup-cta-btn {
  text-align: center;
}

#hero-info > #signup-cta-btn > #join-fight:link,
#hero-info > #signup-cta-btn > #join-fight:visited {
  display: inline-block;
  margin-top: 20px;
  font-size: 720%;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  background-color: #f7ecca;
  border-radius: 40px;
  text-decoration: none;
  padding: 30px 45px;
  transition: all 0.3s;
}

#hero-info > #signup-cta-btn > #join-fight:hover,
#hero-info > #signup-cta-btn > #join-fight:active {
  background-color: #33bd1a;
}

/**Footer Styling**/
.footer {
  background-color: #253c1b;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#socials > #socials-heading,
#contact-info > #contact-heading {
  font-size: 350%;
}
/***Contact Information Styling***/
.footer > #contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 50px 0;
}

#contact-info > #contact-us {
  display: flex;
  gap: 50px;
}

a > .contact-details {
  color: #c5c5c5;
  font-size: 250%;
}

div > .contact-icons {
  color: #f7ecca;
  font-size: 200%;
}

div > #icon-location:link,
div > #icon-location:visited,
div > #icon-email:link,
div > #icon-email:visited,
div > #icon-phone:link,
div > #icon-phone:visited {
  text-decoration: none;
}

div > #icon-location:hover,
div > #icon-location:active,
div > #icon-email:hover,
div > #icon-email:active,
div > #icon-phone:hover,
div > #icon-phone:active {
  color: #f7ecca;
  text-decoration: underline;
}

/***Socials Styling***/
.footer > #socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#socials > .social-links {
  display: flex;
  gap: 50px;
  font-size: 300%;
}

li > #icon-instagram:link,
li > #icon-instagram:visited {
  color: #f7ecca;
  border-radius: 5px;
}
li > #icon-instagram:hover,
li > #icon-instagram:active {
  background-image: linear-gradient(
    rgb(252, 204, 99),
    rgb(251, 173, 80),
    rgb(205, 72, 107),
    rgb(76, 104, 215)
  );
}

li > #icon-twitter:link,
li > #icon-twitter:visited {
  color: #f7ecca;
  transition: all 0.3s;
}

li > #icon-twitter:hover,
li > #icon-twitter:active {
  color: #000;
}

li > #icon-facebook:link,
li > #icon-facebook:visited {
  color: #f7ecca;
  transition: all 0.3s;
}
li > #icon-facebook:hover,
li > #icon-facebook:active {
  color: #3b5998;
}

#socials > #copyright {
  font-size: 200%;
}

/*Opportunities.html*/
/**Header Styling**/
#header-fixed {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 15rem;
  background-color: #253c1b;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/***Title Logo Styling***/
#header-fixed > h1 {
  align-self: center;
  margin: 100px;
}

h1 > #logo-link:link,
h1 > #logo-link:visited {
  color: #f7ecca;
  text-decoration: none;
  font-size: 130%;
}

/***Navigation Styling***/
#header-fixed > .nav-bar {
  display: flex;
  font-family: "Quattrocento", sans-serif;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

li > #opportunities-link-active:link,
li > #opportunities-link-active:visited {
  background-color: #000;
  color: #f7ecca;
  border: 2px solid #f7ecca;
}

/**Main Styling**/
#opportunities-container {
  background-color: #ded4b6;
  color: #000;
  flex: 1 0 auto;
}

#opportunities-container > #opportunities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  column-gap: 50px;
  padding-bottom: 100px;
}

#opportunities-container > #opportunities-text {
  font-size: 120%;
  padding-top: 120px;
  text-align: center;
}

#opportunities > .opportunities-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.opportunities-section > .volunteer-title {
  margin-top: 50px;
  font-size: 180%;
}

.opportunities-section > .volunteer-card {
  position: relative;
  height: 200px;
  width: 400px;
  background-color: #fff;
  border-radius: 20px;
  transition: all 0.6s;
  box-shadow: 3px 4px 10px #000;
}
.opportunities-section > .volunteer-card:hover {
  transform: scale(1.02);
  box-shadow: 7px 8px 15px -5px #000;
}

.volunteer-card > h3 {
  background-color: #fff;
  color: #000;
  padding: 10px;
  display: block;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.volunteer-card > .volunteer-card-description {
  display: inline-block;
  margin: 10px 80px 0 10px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 90%;
  background-color: rgba(0, 0, 0, 0.7);
}

.volunteer-card > .volunteer-now:link,
.volunteer-card > .volunteer-now:visited {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;

  text-decoration: none;
  background-color: #253c1b;
  color: #f8eecf;
  font-size: 110%;
  font-weight: 600;
  border-radius: 10px 0 20px 0;
  border: 2px solid #000;
}
.volunteer-card > .volunteer-now:hover,
.volunteer-card > .volunteer-now:active {
  background-color: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  color: #fff;
  border: 2px solid #f8eecf;
}

/***Volunteer Card Icon Styling***/
.volunteer-card > .donate {
  position: relative;
}

.volunteer-card > .donate::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f4b9";
  position: absolute;
  left: 20px;
  color: #f59f00;
}

.volunteer-card > .tree {
  position: relative;
}
.volunteer-card > .tree::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1bb";
  position: absolute;
  left: 20px;
  color: #37b24d;
}

.volunteer-card > .marine {
  position: relative;
}
.volunteer-card > .marine::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\e4f2";
  position: absolute;
  left: 20px;
  color: #339af0;
}

.volunteer-card > .book {
  position: relative;
}
.volunteer-card > .book::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f02d";
  position: absolute;
  left: 20px;
  color: #e03131;
}

.volunteer-card > .help {
  position: relative;
}
.volunteer-card > .help::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f4be";
  position: absolute;
  left: 20px;
  color: #ff6b6b;
}

.volunteer-card > .disaster {
  position: relative;
}
.volunteer-card > .disaster::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\e515";
  position: absolute;
  left: 20px;
  color: #1864ab;
}

.volunteer-card > .wildlife {
  position: relative;
}
.volunteer-card > .wildlife::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f700";
  position: absolute;
  left: 20px;
  color: #775144;
}

/****Global Volunteering Cards****/
#opportunities > #opportunities-section-global {
  margin-left: 50px;
}

#opportunities-section-global > #amazon-rainforest {
  background: url(../images/amazon-rainforest-sunset-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 30%;
  transition: all 1s;
}

#opportunities-section-global > #marine-conservation {
  background: url(../images/sea-turtle-swimming-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 50%;
}
#opportunities-section-global > #donating-to-charity {
  background: url(../images/ukraine-flag-waving-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 40%;
}

#opportunities-section-global > #natural-disaster {
  background: url(../images/natural-disaster-aftermath-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 30%;
}
#opportunities-section-global > #educational {
  background: url(../images/children-at-school-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 40%;
}

/****Local Volunteering Cards****/
.opportunities-section > #planting-trees {
  background: url(../images/planting-a-tree-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 90%;
}
.opportunities-section > #donating-to-charity-2 {
  background: url(../images/man-preparing-food-for-delivery-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 30%;
}
.opportunities-section > #helping-the-homeless {
  background: url(../images/volunteers-giving-out-water-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 40%;
}
.opportunities-section > #wildlife-conservation {
  background: url(../images/group-of-animals-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 40%;
}

/***Aside Styling***/
#opportunities > aside {
  position: relative;
  height: fit-content;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  background-color: #253c1b;
  color: #fff;
  border-radius: 20px 0 0 20px;
}

aside > #top-picks {
  margin-top: 10px;
  text-align: center;
  font-size: 150%;
}

aside > #top-picks-description {
  padding: 10px;
  font-size: 90%;
}

aside > ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 110%;
}

.extra-links > .top-pick-links:link,
.extra-links > .top-pick-links:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.extra-links > .top-pick-links:hover,
.extra-links > .top-pick-links:active {
  text-decoration: underline;
  color: #f7ecca;
}

/*Member.html*/

/**Header Styling**/
li > #member-link-active:link,
li > #member-link-active:visited {
  background-color: #000;
  color: #f7ecca;
  border: 2px solid #f7ecca;
}

/**Main Styling**/
#become-a-member-container {
  flex: 1 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url(../images/holding-a-hand-heart-upto-the-sun-min.webp), no-repeat;
  background-size: cover;
  background-position: center center;
}

#bg-img-sr {
  display: none;
}

#become-a-member-container > #form-faq-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

/***Form Styling***/
#form-faq-container > #form-container {
  height: fit-content;
  margin: 100px;
  padding: 50px;
  background-color: #253c1b;
  border-radius: 50px;
}

#form-container > #signup-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#signup-form > #signup-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 100px 0 0 50px;
}

div > #fname,
div > #lname,
div > #password {
  height: 100px;
  width: 700px;
  padding: 0 20px;
  font-size: 300%;
}

div > #email {
  height: 100px;
  width: 1000px;
  padding: 0 20px;
  font-size: 300%;
}

div > label {
  color: #f7ecca;
  font-size: 380%;
}

/****Form Title of Form****/
#signup-form > #form-title {
  font-size: 500%;
  text-align: center;
  padding: 30px;
}

h2 > .fa-pen-to-square {
  position: relative;
  left: 30px;
  color: #e8590c;
}

/****Name Section of Form****/
#signup-container > #fl-name-container {
  display: flex;
  gap: 50px;
  margin-right: 50px;
}

#fl-name-container > #fname-container,
#fl-name-container > #lname-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/****Email Section of Form****/
#email-container > #main-email-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/****Password Section of Form****/
#password-container > #password-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/****Checkbox Section of Form****/
#np-container {
  display: flex;
  gap: 20px;
}

#news-and-promo-label {
  font-size: 330%;
}

#np-container > #news-and-promo {
  height: 50px;
  width: 50px;
  border-radius: 20px;
}

/****Signup Btn of Form****/
#signup-form > #signup-btn {
  font-size: 400%;
  font-weight: 700;
  margin: 50px 800px 20px 50px;
  padding: 40px 50px;
  border: none;
  border-radius: 50px;
  background-color: #e8590c;
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
  display: inline-block;
}

#signup-form > #signup-btn:hover {
  cursor: pointer;
  background-color: #ff922b;
}

/***FAQ Styling***/
#form-faq-container > #faq-container {
  height: fit-content;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  color: #fff;
  margin: 100px;
}

.faqs > #faq-questions {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/****FAQ Title of Form****/
.faqs > #faq-title {
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
  font-size: 400%;
}

h2 > .fa-circle-question {
  position: relative;
  left: 10px;
  color: #e8590c;
}

.faq-q-a > summary {
  cursor: pointer;
  list-style: none;
}

#faq-questions > .faq-q-a {
  background-color: rgb(247, 236, 202);
  padding: 30px;
  border-radius: 10px;
  color: #000;
}

/****FAQ Descriptions****/
.faq-q-a > .faq-question-title {
  font-weight: 700;
  font-size: 320%;
}

.faq-q-a > .faq-answer {
  font-size: 300%;
}

/*Completed Signup Styling*/

/**Main Styling**/
#completed-signup-container {
  flex: 1 0 auto;
  height: auto;
  background-color: #f7ecca;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#completed-signup-container > #completion-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border-radius: 20px;

  height: fit-content;
  width: 700px;
  margin: 100px auto;
  padding: 100px;
}

#completion-container > #completion-title-and-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#completion-title-and-text > #completion-title {
  font-size: 300%;
  font-weight: 700;
  color: #000;
}

#completion-title-and-text > #completion-text {
  font-size: 150%;
  font-weight: 500;
  color: #3a3a3a;
}

#completion-title-and-text > .fa-circle-check {
  color: #54e616;
  align-self: center;
  position: relative;
  animation: throbbing-check 1s linear infinite alternate-reverse;
}
@keyframes throbbing-check {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

#completion-title-and-text > #return-back-text {
  color: #000;
  font-size: 130%;
  text-align: center;
  margin-top: 30px;
}

#return-back-text > .return-links:link,
#return-back-text > .return-links:visited {
  text-decoration: none;
  color: inherit;
}

#return-back-text > .return-links:hover,
#return-back-text > .return-links:active {
  text-decoration: underline;
  color: inherit;
}

/**FOR SCREEN WIDTHS BELOW 3400px**/
@media screen and (max-width: 3400px) {
  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Container***/
  #signup-form > #signup-container {
    margin: 50px 0 0 50px;
  }
  #signup-form > #form-title {
    font-size: 400%;
  }

  #signup-container > #fl-name-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-right: 0px;
  }

  #news-and-promo-label {
    font-size: 290%;
  }

  #np-container > #news-and-promo {
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }

  #signup-form > #signup-btn {
    font-size: 400%;
    font-weight: 700;
    margin: 50px 400px 20px 50px;
    padding: 40px 50px;
  }

  /***FAQ Container***/
  .faqs > #faq-title {
    font-size: 330%;
  }

  .faq-q-a > .faq-question-title {
    font-size: 270%;
  }

  .faq-q-a > .faq-answer {
    font-size: 250%;
  }
}

/**FOR SCREEN WIDTHS BELOW 2900px**/
@media screen and (max-width: 2900px) {
  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Container***/
  #form-faq-container > #form-container {
    margin: 100px 50px 100px 50px;
  }

  div > #fname,
  div > #lname,
  div > #password {
    height: 100px;
    width: 500px;
    padding: 0 20px;
    font-size: 250%;
  }

  div > #email {
    height: 100px;
    width: 700px;
    padding: 0 20px;
    font-size: 250%;
  }

  div > label {
    color: #f7ecca;
    font-size: 300%;
  }

  #signup-form > #form-title {
    font-size: 300%;
  }

  #news-and-promo-label {
    font-size: 250%;
  }

  #np-container > #news-and-promo {
    height: 30px;
    width: 30px;
    border-radius: 20px;
  }

  #signup-form > #signup-btn {
    font-size: 300%;
    font-weight: 700;
    margin: 50px 400px 20px 50px;
    padding: 30px 40px;
  }

  /***FAQ Container***/
  #form-faq-container > #faq-container {
    margin: 100px 50px 100px 0;
  }
  .faqs > #faq-title {
    font-size: 250%;
  }

  .faq-q-a > .faq-question-title {
    font-size: 220%;
  }

  .faq-q-a > .faq-answer {
    font-size: 200%;
  }
}

/**FOR SCREEN WIDTHS BELOW 2350px**/
@media screen and (max-width: 2350px) {
  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Container***/
  div > #fname,
  div > #lname,
  div > #password {
    height: 70px;
    width: 500px;
    padding: 0 20px;
    font-size: 200%;
  }

  div > #email {
    height: 70px;
    width: 650px;
    padding: 0 20px;
    font-size: 200%;
  }

  div > label {
    color: #f7ecca;
    font-size: 200%;
  }

  #signup-form > #form-title {
    font-size: 230%;
    padding: 0px;
  }

  #news-and-promo-label {
    font-size: 200%;
  }

  #np-container > #news-and-promo {
    height: 25px;
    width: 25px;
    border-radius: 20px;
  }

  #signup-form > #signup-btn {
    font-size: 250%;
    font-weight: 700;
    margin: 50px 200px 20px 50px;
    padding: 30px 40px;
  }

  /***FAQ Container***/
  .faqs > #faq-title {
    font-size: 180%;
  }

  #faq-questions > .faq-q-a {
    padding: 20px;
  }

  .faq-q-a > .faq-question-title {
    font-size: 160%;
  }

  .faq-q-a > .faq-answer {
    font-size: 140%;
  }
}

/**FOR SCREEN WIDTHS BELOW 2150px**/
@media screen and (max-width: 2150px) {
  /**Header Styling for ALL PAGES**/
  .header {
    display: grid;
    grid-template-rows: 10rem;
  }

  #header-fixed {
    display: grid;
    grid-template-rows: 10rem;
  }

  /***Title Logo***/
  #title-logo > #logo-link:link,
  #title-logo > #logo-link:visited {
    font-size: 200%;
  }

  li > .links:link,
  li > .links:visited {
    font-size: 250%;
  }

  /*MEDIA QUERIES FOR INDEX.HTML*/
  /**Main Styling**/
  #hero-info > #hero-text {
    font-size: 400%;
  }

  #hero-info > #volunteer {
    margin-top: 100px;
    font-size: 380%;
  }

  #hero-info > #arrows {
    font-size: 500%;
  }

  #hero-info > #signup-cta-btn > #join-fight:link,
  #hero-info > #signup-cta-btn > #join-fight:visited {
    font-size: 520%;
  }
}

/**FOR SCREEN WIDTH BELOW 1670px**/
@media screen and (max-width: 1670px) {
  /**Header Styling for ALL PAGES**/
  .header > .nav-bar {
    margin-right: 50px;
  }

  #header-fixed > .nav-bar {
    margin-right: 50px;
  }

  /***Title Logo***/
  #title-logo > #logo-link:link,
  #title-logo > #logo-link:visited {
    font-size: 200%;
  }

  li > .links:link,
  li > .links:visited {
    font-size: 150%;
    padding: 20px 30px;
  }

  /*MEDIA QUERIES FOR INDEX.HTML*/
  #hero-info > #hero-text {
    font-size: 300%;
  }

  #hero-info > #volunteer {
    font-size: 300%;
  }

  #hero-info > #arrows {
    font-size: 400%;
  }

  #hero-info > #signup-cta-btn > #join-fight:link,
  #hero-info > #signup-cta-btn > #join-fight:visited {
    font-size: 370%;
  }

  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Container***/
  #signup-form > #signup-container {
    margin: 20px 0px 0px 0px;
    gap: 20px;
  }

  #signup-form > #form-title {
    font-size: 170%;
    padding-bottom: 20px;
  }

  h2 > .fa-pen-to-square {
    position: relative;
    left: 10px;
    color: #e8590c;
  }

  #signup-container > #fl-name-container {
    gap: 20px;
  }

  div > #fname,
  div > #lname,
  div > #password,
  div > #email {
    height: 70px;
    width: 100%;
    padding: 0 20px;
    font-size: 170%;
  }

  div > label {
    color: #f7ecca;
    font-size: 170%;
  }

  #np-container {
    gap: 10px;
    align-items: center;
  }

  #news-and-promo-label {
    font-size: 130%;
  }

  #np-container > #news-and-promo {
    height: 15px;
    width: 15px;
    border-radius: 20px;
  }

  #signup-form > #signup-btn {
    font-size: 200%;
    margin: 50px 0px 20px 20px;
    padding: 20px 35px;
  }

  /***FAQ Styling***/
  .faqs > #faq-questions {
    gap: 10px;
  }

  .faqs > #faq-title {
    font-size: 150%;
  }

  .faq-q-a > .faq-question-title {
    font-size: 130%;
  }

  .faq-q-a > .faq-answer {
    font-size: 120%;
  }

  /**Footer Styling for ALL PAGES**/
  #socials > #socials-heading,
  #contact-info > #contact-heading {
    font-size: 250%;
  }
  /***Contact Information Styling***/
  #contact-info > #contact-us {
    gap: 30px;
  }

  a > .contact-details {
    color: #c5c5c5;
    font-size: 200%;
  }

  div > .contact-icons {
    color: #f7ecca;
    font-size: 170%;
  }

  /****Socials Styling****/
  #socials > .social-links {
    display: flex;
    gap: 50px;
    font-size: 200%;
  }

  #socials > #copyright {
    font-size: 160%;
  }
}

/*FOR SCREEN WIDTH BELOW 1450px*/
@media screen and (max-width: 1450px) {
  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Container***/
  #form-faq-container > #form-container {
    padding: 40px;
  }

  #signup-form > #form-title {
    font-size: 130%;
  }

  h2 > .fa-pen-to-square {
    position: relative;
    left: 10px;
    color: #e8590c;
  }

  #signup-container > #fl-name-container {
    gap: 20px;
  }

  div > #fname,
  div > #lname,
  div > #password,
  div > #email {
    height: 50px;
    width: 100%;
    padding: 0 10px;
    font-size: 120%;
  }

  div > label {
    color: #f7ecca;
    font-size: 120%;
  }

  #np-container {
    gap: 10px;
    align-items: flex-start;
  }

  #signup-form > #signup-btn {
    font-size: 150%;
    margin: 20px 0px 0px 0px;
    padding: 15px 25px;
  }

  /***FAQ Styling***/
  #form-faq-container > #faq-container {
    padding: 40px;
  }

  .faqs > #faq-title {
    font-size: 120%;
  }

  .faq-q-a > .faq-question-title {
    font-size: 110%;
  }

  .faq-q-a > .faq-answer {
    font-size: 100%;
  }
}

/**FOR SCREEN WIDTH BELOW 1350px**/
@media screen and (max-width: 1350px) {
  /**Header Styling for ALL PAGES**/
  .header {
    display: grid;
    grid-template-rows: 8rem;
  }

  #header-fixed {
    display: grid;
    grid-template-rows: 8rem;
  }

  /***Title Logo***/
  #title-logo > #logo-link:link,
  #title-logo > #logo-link:visited {
    font-size: 150%;
  }

  li > .links:link,
  li > .links:visited {
    font-size: 130%;
    padding: 15px 25px;
  }

  /*MEDIA QUERIES FOR MEMBER.HTML*/

  /**Footer Styling for ALL PAGES**/
  #socials > #socials-heading,
  #contact-info > #contact-heading {
    font-size: 200%;
  }
  /***Contact Information Styling***/
  #contact-info > #contact-us {
    gap: 20px;
  }

  a > .contact-details {
    color: #c5c5c5;
    font-size: 150%;
  }

  div > .contact-icons {
    color: #f7ecca;
    font-size: 130%;
  }

  /****Socials Styling****/
  .footer > #contact-info {
    gap: 20px;
  }

  #socials > .social-links {
    display: flex;
    gap: 30px;
    font-size: 150%;
  }

  #socials > #copyright {
    font-size: 130%;
  }
}

/**FOR SCREEN WIDTH BELOW 1250px**/
@media screen and (max-width: 1250px) {
  /*MEDIA QUERIES FOR OPPORTUNITIES.HTML*/
  /***Main Styling***/
  #opportunities-container > #opportunities {
    column-gap: 50px;
  }

  #opportunities > .opportunities-section {
    align-items: flex-start;
  }

  #opportunities-container > #opportunities-text {
    font-size: 100%;
  }

  .opportunities-section > .volunteer-title {
    font-size: 150%;
  }

  .opportunities-section > .volunteer-card {
    width: 300px;
  }

  .volunteer-card > .volunteer-card-description {
    font-size: 70%;
  }

  .volunteer-card > .volunteer-now:link,
  .volunteer-card > .volunteer-now:visited {
    font-size: 80%;
  }

  /****Aside Styling****/
  li > .extra-links {
    font-size: 80%;
    line-height: 1.2;
  }

  .extra-links > .top-pick-links:link,
  .extra-links > .top-pick-links:visited {
    font-size: 100%;
    text-decoration: underline;
  }

  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***FAQ Container***/
  #faq-questions > .faq-q-a {
    padding: 15px;
  }
}

/**FOR SCREEN WIDTH BELOW 1150px**/
@media screen and (max-width: 1150px) {
  /**Header Styling for ALL PAGES**/
  .header {
    display: grid;
    grid-template-rows: 6rem;
  }

  #header-fixed {
    display: grid;
    grid-template-rows: 6rem;
  }

  /***Title Logo***/
  .header > h1 {
    margin: 0;
  }

  #header-fixed > h1 {
    margin: 0;
  }

  #title-logo > #logo-link:link,
  #title-logo > #logo-link:visited {
    font-size: 120%;
    margin-left: 50px;
  }

  li > .links:link,
  li > .links:visited {
    font-size: 120%;
    padding: 10px 20px;
  }

  /*MEDIA QUERIES FOR INDEX.HTML*/
  #hero-section > #hero-info {
    margin: 200px 100px;
  }
  #hero-info > #hero-text {
    font-size: 200%;
  }

  #hero-info > #volunteer {
    font-size: 200%;
  }

  #hero-info > #arrows {
    font-size: 300%;
  }

  #hero-info > #signup-cta-btn > #join-fight:link,
  #hero-info > #signup-cta-btn > #join-fight:visited {
    font-size: 270%;
    padding: 20px 30px;
  }
}

/**FOR SCREEN WIDTH BELOW 1080px**/
@media screen and (max-width: 1080px) {
  /*MEDIA QUERIES FOR OPPORTUNITIES.HTML*/
  /***Main Styling***/
  #donating-to-charity > #global-charity-text {
    font-size: 60%;
  }

  #opportunities-container > #opportunities-text {
    font-size: 90%;
  }

  .opportunities-section > .volunteer-title {
    font-size: 130%;
  }

  .volunteer-card > h3 {
    font-size: 90%;
  }

  /****Aside Styling****/
  li > .extra-links {
    font-size: 60%;
    line-height: 1.2;
  }

  aside > #top-picks {
    font-size: 130%;
  }

  aside > #top-picks-description {
    font-size: 80%;
  }

  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Container***/
  #become-a-member-container > #form-faq-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
  }

  #form-faq-container > #form-container {
    margin: 100px 100px 0 100px;
  }

  #signup-form > #form-title {
    font-size: 200%;
  }

  #signup-container > #fl-name-container {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }

  div > #fname,
  div > #lname {
    height: 50px;
    font-size: 120%;
    width: 110%;
  }

  div > #password,
  div > #email {
    width: 60%;
  }
  div > label {
    color: #f7ecca;
    font-size: 150%;
  }

  #fl-name-container > #fname-container,
  #fl-name-container > #lname-container,
  #email-container > #main-email-container,
  #password-container > #password-1 {
    gap: 5px;
  }

  #np-container {
    gap: 10px;
    align-items: center;
  }

  #news-and-promo-label {
    font-size: 150%;
  }

  #np-container > #news-and-promo {
    height: 20px;
    width: 20px;
    border-radius: 20px;
  }

  #signup-form > #signup-btn {
    font-size: 180%;
    margin: 20px 0px 0px 0px;
    padding: 20px 0px;
  }

  /***FAQ Container***/
  #form-faq-container > #faq-container {
    margin: 0 0 100px 0;
    border-radius: 20px 0 20px 0;
  }

  .faqs > #faq-title {
    font-size: 200%;
  }

  .faq-q-a > .faq-question-title {
    font-size: 150%;
  }

  .faq-q-a > .faq-answer {
    font-size: 140%;
  }
}

/**FOR SCREEN WIDTH BELOW 920px**/
@media screen and (max-width: 920px) {
  /*Header Styling for ALL PAGES*/
  .header {
    display: grid;
    grid-template-rows: 4rem;
  }

  .header > .nav-bar {
    margin-right: 20px;
  }

  #header-fixed {
    display: grid;
    grid-template-rows: 4rem;
  }

  #header-fixed > .nav-bar {
    margin-right: 20px;
  }

  /***Title Logo***/
  #title-logo > #logo-link:link,
  #title-logo > #logo-link:visited {
    font-size: 100%;
    margin-left: 50px;
  }

  li > .links:link,
  li > .links:visited {
    font-size: 90%;
    padding: 10px 20px;
  }

  /*MEDIA QUERIES FOR OPPORTUNITIES.HTML*/
  /***Main Styling***/
  .opportunities-section > .volunteer-card {
    position: relative;
    height: 150px;
    width: 250px;
  }

  #opportunities-container > #opportunities-text {
    font-size: 80%;
  }

  #donating-to-charity > #global-charity-text {
    font-size: 50%;
  }

  .opportunities-section > .volunteer-title {
    font-size: 100%;
  }

  .volunteer-card > .volunteer-card-description {
    font-size: 50%;
  }

  /****Aside Styling****/
  aside > #top-picks {
    font-size: 100%;
  }

  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Container***/
  #signup-container > #fl-name-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  div > #fname,
  div > #lname {
    height: 50px;
    font-size: 120%;
    width: 100%;
  }

  div > #password,
  div > #email {
    width: 100%;
  }

  /**Footer Styling for ALL PAGES**/
  #socials > #socials-heading,
  #contact-info > #contact-heading {
    font-size: 130%;
  }
  /***Contact Information Styling***/
  #contact-info > #contact-us {
    gap: 20px;
  }

  a > .contact-details {
    color: #c5c5c5;
    font-size: 100%;
  }

  div > .contact-icons {
    color: #f7ecca;
    font-size: 100%;
  }

  /****Socials Styling****/
  #socials > .social-links {
    display: flex;
    gap: 30px;
    font-size: 130%;
  }

  #socials > #copyright {
    font-size: 100%;
  }
}

/**FOR SCREEN WIDTHS BELOW 840px**/
@media screen and (max-width: 840px) {
  /*MEDIA QUERIES FOR OPPORTUNITIES.HTML*/
  /***Main Styling***/
  #opportunities-container > #opportunities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 0px;
  }

  #opportunities-container > #opportunities-text {
    font-size: 60%;
  }

  #opportunities > #opportunities-section-local {
    margin-right: 50px;
  }

  .opportunities-section > .volunteer-card {
    position: relative;
    height: 150px;
    width: auto;
  }

  /****Aside Styling****/
  #opportunities > aside {
    grid-column: 1 / -1;
    border-radius: 20px 0 20px 0;
    margin: 80px 0 100px 0;
  }

  aside > #top-picks {
    font-size: 150%;
  }

  aside > #top-picks-description {
    font-size: 100%;
  }

  li > .extra-links {
    font-size: 80%;
    line-height: 1.2;
  }

  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Container***/
  #signup-form > #form-title {
    font-size: 150%;
  }

  #news-and-promo-label {
    font-size: 120%;
  }

  #np-container > #news-and-promo {
    height: 15px;
    width: 15px;
  }

  #signup-form > #signup-btn {
    font-size: 150%;
    padding: 15px 0px;
  }

  /*MEDIA QUERIES FOR COMPLETED-SIGNUP.HTML*/
  /***Main Styling***/
  #completed-signup-container > #completion-container {
    padding: 30px;
    width: 400px;
  }

  #completion-title-and-text > #completion-title {
    font-size: 150%;
  }

  #completion-title-and-text > #completion-text {
    font-size: 100%;
  }

  #completion-title-and-text > .fa-circle-check {
    font-size: 300%;
  }

  #completion-title-and-text > #return-back-text {
    font-size: 100%;
    margin-top: 10px;
  }
}

/**FOR SCREEN WIDTH BELOW 770px**/
@media screen and (max-width: 770px) {
  /**Header Styling for ALL PAGES**/
  .nav-bar > .nav-links {
    gap: 10px;
  }

  /***Title Logo***/
  #title-logo > #logo-link:link,
  #title-logo > #logo-link:visited {
    font-size: 80%;
    margin-left: 20px;
  }

  li > .links:link,
  li > .links:visited {
    font-size: 70%;
    padding: 10px 15px;
  }

  /*MEDIA QUERIES FOR INDEX.HTML*/
  /***Main Styling***/
  #hero-section > #hero-info {
    margin: 100px;
  }
  #hero-info > #hero-text {
    font-size: 150%;
  }

  #hero-info > #volunteer {
    font-size: 130%;
    margin-top: 50px;
  }

  #hero-info > #arrows {
    font-size: 150%;
  }

  #hero-info > #signup-cta-btn > #join-fight:link,
  #hero-info > #signup-cta-btn > #join-fight:visited {
    font-size: 130%;
    padding: 15px 20px;
  }

  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Container***/
  #signup-form > #form-title {
    font-size: 150%;
  }

  /***FAQ Container***/
  .faqs > #faq-title {
    font-size: 130%;
  }

  .faq-q-a > .faq-question-title {
    font-size: 100%;
  }

  .faq-q-a > .faq-answer {
    font-size: 90%;
  }

  /**Footer Styling for ALL PAGES**/
  .footer > #contact-info {
    margin: 30px 0;
  }

  #socials > #socials-heading,
  #contact-info > #contact-heading {
    font-size: 100%;
  }
  /***Contact Information Styling***/
  #contact-info > #contact-us {
    gap: 10px;
  }

  a > .contact-details {
    color: #c5c5c5;
    font-size: 80%;
  }

  div > .contact-icons {
    color: #f7ecca;
    font-size: 80%;
  }

  /****Socials Styling****/
  #socials > .social-links {
    display: flex;
    gap: 30px;
    font-size: 90%;
  }

  #socials > #copyright {
    font-size: 70%;
  }
}

/**FOR SCREEN WIDTH BELOW 690px**/
@media screen and (max-width: 690px) {
  /*MEDIA QUERIES FOR OPPORTUNITIES.HTML*/
  /***Main Styling***/
  #opportunities-container > #opportunities {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  #opportunities-container > #opportunities-text {
    font-size: 100%;
    margin: 0 40px 0 40px;
    text-align: left;
  }

  #opportunities > #opportunities-section-local {
    margin: 0 50px 0 50px;
  }

  #opportunities > #opportunities-section-global {
    margin: 0 50px 0 50px;
  }

  .opportunities-section > .volunteer-title {
    font-size: 150%;
  }

  .opportunities-section > .volunteer-card {
    position: relative;
    height: 200px;
    width: auto;
    margin-top: 10px;
  }

  .volunteer-card > h3 {
    font-size: 110%;
  }

  .volunteer-card > .volunteer-card-description {
    font-size: 100%;
  }

  #donating-to-charity > #global-charity-text {
    font-size: inherit;
  }
  .volunteer-card > .volunteer-now:link,
  .volunteer-card > .volunteer-now:visited {
    font-size: 120%;
  }

  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Container***/
  #signup-form > #signup-container {
    margin: 10px 0 0 0;
    gap: 10px;
  }

  #signup-container > #fl-name-container {
    gap: 10px;
  }

  #signup-form > #form-title {
    font-size: 100%;
    line-height: 1;
  }

  div > #fname,
  div > #lname,
  div > #password,
  div > #email {
    height: 30px;
    font-size: 90%;
  }

  div > label {
    color: #f7ecca;
    font-size: 100%;
  }

  #np-container {
    gap: 5px;
    align-items: center;
  }

  #news-and-promo-label {
    font-size: 90%;
  }

  #np-container > #news-and-promo {
    height: 12px;
    width: 12px;
  }

  #signup-form > #signup-btn {
    font-size: 80%;
    padding: 10px 0px;
  }

  /***FAQ Container***/
  .faqs > #faq-title {
    font-size: 100%;
  }

  .faq-q-a > .faq-question-title {
    font-size: 80%;
  }

  .faq-q-a > .faq-answer {
    font-size: 70%;
  }
}

/**FOR SCREEN WIDTHS BELOW 550px**/
@media screen and (max-width: 550px) {
  /**Header Styling for ALL PAGES**/
  .header {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .header > .nav-bar {
    display: grid;
    justify-content: center;
    padding-bottom: 15px;
    margin-right: 0;
  }

  #header-fixed {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #header-fixed > .nav-bar {
    display: grid;
    justify-content: center;
    padding-bottom: 15px;
    margin-right: 0;
  }

  /***Title Logo***/
  .header > h1 {
    text-align: center;
  }

  #header-fixed > h1 {
    text-align: center;
  }

  #title-logo > #logo-link:link,
  #title-logo > #logo-link:visited {
    text-align: center;
    font-size: 100%;
    margin-left: 0px;
  }

  li > .links:link,
  li > .links:visited {
    font-size: 80%;
    padding: 10px 15px;
  }

  /*MEDIA QUERIES FOR INDEX.HTML*/
  /***Main Styling***/
  #hero-section > #hero-info {
    margin: 50px 50px;
  }

  #hero-info > #hero-text {
    font-size: 90%;
  }

  #hero-info > #volunteer {
    font-size: 80%;
    margin-top: 30px;
  }

  #hero-info > #arrows {
    font-size: 100%;
  }

  #hero-info > #signup-cta-btn > #join-fight:link,
  #hero-info > #signup-cta-btn > #join-fight:visited {
    font-size: 70%;
    padding: 10px 15px;
  }

  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Container***/
  #form-faq-container > #form-container {
    margin: 50px 50px 0 50px;
    padding: 30px;
  }

  #signup-form > #form-title {
    font-size: 100%;
    line-height: 1.3;
  }

  /**Footer Styling for ALL PAGES**/
  .footer > #contact-info {
    margin: 30px 0;
    gap: 10px;
  }

  #socials > #socials-heading,
  #contact-info > #contact-heading {
    font-size: 80%;
  }
  /***Contact Information Styling***/
  #contact-info > #contact-us {
    gap: 10px;
  }

  a > .contact-details {
    color: #c5c5c5;
    font-size: 60%;
  }

  div > .contact-icons {
    color: #f7ecca;
    font-size: 60%;
  }

  /****Socials Styling****/
  .footer > #socials {
    gap: 10px;
  }

  #socials > .social-links {
    display: flex;
    gap: 20px;
    font-size: 90%;
  }

  #socials > #copyright {
    font-size: 60%;
  }
}

/**FOR SCREEN WIDTHS BELOW 480px**/
@media screen and (max-width: 480px) {
  /*MEDIA QUERIES FOR OPPORTUNITIES.HTML*/
  /***Main Styling***/
  #opportunities > .opportunities-section {
    gap: 10px;
  }

  #opportunities-container > #opportunities-text {
    font-size: 80%;
  }

  #opportunities > #opportunities-section-local {
    margin: 0 30px 0 30px;
  }

  #opportunities > #opportunities-section-global {
    margin: 0 30px 0 30px;
  }

  .opportunities-section > .volunteer-title {
    font-size: 120%;
  }

  .opportunities-section > .volunteer-card {
    position: relative;
    height: 150px;
    width: auto;
  }

  .volunteer-card > h3 {
    font-size: 90%;
  }

  .volunteer-card > .volunteer-card-description {
    font-size: 70%;
  }

  #donating-to-charity > #global-charity-text {
    font-size: 60%;
  }

  .volunteer-card > .volunteer-now:link,
  .volunteer-card > .volunteer-now:visited {
    font-size: 60%;
  }

  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Styling***/
  #signup-form > #form-title {
    font-size: 80%;
    line-height: 1;
  }

  div > #fname,
  div > #lname,
  div > #password,
  div > #email {
    height: 30px;
    font-size: 70%;
    padding: 0 5px;
  }

  div > label {
    color: #f7ecca;
    font-size: 80%;
  }

  #news-and-promo-label {
    font-size: 70%;
  }

  #np-container > #news-and-promo {
    height: 8px;
    width: 8px;
  }

  #signup-form > #signup-btn {
    margin: 10px 0 0 0;
  }
}

/**FOR SCREEN WIDTHS BELOW 410px**/
/***Footer Styling***/
@media screen and (max-width: 410px) {
  /**Header Styling for ALL PAGES**/
  .header {
    height: 80px;
  }

  #header-fixed {
    height: 80px;
  }

  /***Title Logo***/
  #title-logo > #logo-link:link,
  #title-logo > #logo-link:visited {
    font-size: 80%;
  }

  li > .links:link,
  li > .links:visited {
    font-size: 50%;
    padding: 8px 10px;
  }

  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Container***/
  #form-faq-container > #form-container {
    padding: 20px;
    border-radius: 20px;
  }

  #news-and-promo-label {
    font-size: 50%;
  }

  #np-container > #news-and-promo {
    height: 7px;
    width: 7px;
  }

  #signup-form > #signup-btn {
    font-size: 60%;
    padding: 5px 0;
  }

  /**Footer Styling for ALL PAGES**/
  .footer > #contact-info {
    margin: 20px 0;
    gap: 5px;
  }

  #socials > #socials-heading,
  #contact-info > #contact-heading {
    font-size: 60%;
  }
  /***Contact Information Styling***/
  #contact-info > #contact-us {
    gap: 10px;
  }

  a > .contact-details {
    color: #c5c5c5;
    font-size: 40%;
  }

  div > .contact-icons {
    color: #f7ecca;
    font-size: 40%;
  }

  /****Socials Styling****/
  .footer > #socials {
    gap: 10px;
  }

  #socials > .social-links {
    display: flex;
    gap: 20px;
    font-size: 60%;
  }

  #socials > #copyright {
    font-size: 40%;
  }
}

/**FOR SCREEN WIDTHS BELOW 380px**/
@media screen and (max-width: 380px) {
  /*MEDIA QUERIES FOR OPPORTUNITIES.HTML*/
  /***Main Styling***/
  #opportunities-container > #opportunities-text {
    font-size: 60%;
  }

  .volunteer-card > h3 {
    font-size: 70%;
  }

  /****Aside Styling****/
  aside > #top-picks {
    font-size: 120%;
  }

  aside > #top-picks-description {
    font-size: 80%;
  }

  li > .extra-links {
    font-size: 60%;
    line-height: 1.2;
  }

  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Main Styling***/
  /****Form Styling****/
  #signup-form > #form-title {
    font-size: 60%;
    padding-bottom: 10px;
  }

  h2 > .fa-pen-to-square {
    left: 5px;
  }

  div > #fname,
  div > #lname,
  div > #password,
  div > #email {
    height: 20px;
    font-size: 50%;
    padding: 0 5px;
  }

  div > label {
    color: #f7ecca;
    font-size: 60%;
  }

  #news-and-promo-label {
    font-size: 50%;
  }

  #np-container > #news-and-promo {
    height: 5px;
    width: 5px;
  }

  #signup-form > #signup-btn {
    margin: 10px 0 0 0;
  }

  /****FAQ Styling****/
  #faq-questions > .faq-q-a {
    padding: 10px;
  }

  .faqs > #faq-title {
    font-size: 70%;
    margin-bottom: 15px;
  }

  .faq-q-a > .faq-question-title {
    font-size: 50%;
  }

  .faq-q-a > .faq-answer {
    font-size: 40%;
  }

  /*MEDIA QUERIES FOR COMPLETED-SIGNUP.HTML*/
  /***Main Styling***/
  #completion-title-and-text > #completion-title {
    font-size: 120%;
  }

  #completion-title-and-text > #completion-text {
    font-size: 50%;
  }

  #completion-title-and-text > .fa-circle-check {
    font-size: 200%;
  }

  #completion-title-and-text > #return-back-text {
    font-size: 60%;
    margin-top: 0px;
  }
}

/**FOR SCREEN WIDTH BELOW 350px**/
@media screen and (max-width: 350px) {
  /*MEDIA QUERIES FOR OPPORTUNITIES.HTML*/
  /***Main Styling***/
  .volunteer-card > .volunteer-card-description {
    font-size: 60%;
  }

  #donating-to-charity > #global-charity-text {
    font-size: 50%;
  }
}

/**FOR SCREEN WIDTHS BELOW 330px**/
@media screen and (max-width: 330px) {
  /*MEDIA QUERIES FOR MEMBER.HTML*/
  /***Form Container***/
  #signup-form > #form-title {
    line-height: 1.3;
  }

  #np-container > #news-and-promo {
    height: 6px;
    width: 6px;
    align-self: flex-start;
  }

  /*MEDIA QUERIES FOR COMPLETED-SIGNUP.HTML*/
  /***Main Styling***/
  #completion-title-and-text > #completion-title {
    font-size: 100%;
  }

  /***Footer Styling***/
  .footer > #contact-info {
    gap: 0px;
  }
  #contact-info > #contact-us {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}
