@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Questrial&display=swap");

/*General Elements*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  color: #fff;
}

/***Header Styling***/
header {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 5rem;
  background-color: #2d4921;
}

/*Title Logo Styling*/
header > h1 {
  justify-self: center;
  align-self: center;
  font-size: 230%;
  color: #f7edcb;
}

.logo {
  color: #5dbc34;
}

/*Navigation Styling*/
header > nav {
  display: flex;
  font-family: "Quattrocento", sans-serif;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav > ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

ul > li {
  display: inline-block;
}

a:link,
a:visited {
  color: #000;
  background-color: #fff;
  border-radius: 20px;

  text-decoration: none;
  padding: 15px;
  font-size: 110%;
  transition: all 0.3s;
}
a:hover,
a:active {
  background-color: #f7edcb;
}

/***Main Styling***/

/*Hero Section*/
.hero-section {
  position: relative;
  height: 600px;

  background-image: url(../images/handing-over-earth.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 70%;

  /* filter: brightness(80%); */
}

.hero-links:link,
.hero-links:visited {
  position: absolute;
  top: 65%;
  left: 1%;

  font-size: 170%;
}

#find-out-more:link,
#find-out-more:visited {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 18%;
  background-color: #f7edcb;
}
#find-out-more:hover,
#find-out-more:active {
  background-color: #ec830b;
}

#join-fight:link,
#join-fight:visited {
  background-color: #f7edcb;
  display: flex;
  justify-content: center;
  align-items: center;
}

#join-fight:hover,
#join-fight:active {
  background-color: #33bd1a;
}

.hero-section > p {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 400px;
  padding: 80px 0 0 20px;

  font-size: 300%;
}

/*Footer Styling*/
footer {
  height: 140px;
  background-color: #2d4921;
}
