@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Questrial&display=swap");

/*General Webpage Elements*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  color: #fff;
  height: 100vh;
}

/*Index.html Page*/

/**Header Styling**/
.header {
  display: grid;
  grid-template-columns: 20em 1fr;
  grid-template-rows: 5rem;
  background-color: #253c1b;
}

/***Title Logo Styling***/
.header > h1 {
  justify-self: center;
  align-self: center;
  font-size: 230%;
  color: #f7ecca;
}

/***Navigation Styling***/
.header > .nav-bar {
  display: flex;
  font-family: "Quattrocento", sans-serif;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

.nav-bar > .nav-links {
  display: flex;
  gap: 10px;
  list-style: none;
}

ul > li {
  display: inline-block;
}

li > .links:link,
li > .links:visited {
  color: #000;
  background-color: #fff;
  border-radius: 15px;

  text-decoration: none;
  padding: 10px 15px;
  font-size: 110%;
  transition: all 0.3s;
}
li > .links:hover,
li > .links:active {
  background-color: #f7ecca;
}

li > #home-link-active:link,
li > #home-link-active:visited {
  background-color: #000;
  color: #f7ecca;
  border: 2px solid #f7ecca;
}

/**Main Styling**/

/***Hero Section***/
#hero-section {
  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url(../images/handing-over-earth-min.webp);
  background-size: cover;
  background-position: center center;
}

#hero-section > #hero-info {
  padding-top: 80px;
  margin: 0 100px;
  font-size: 230%;
  color: #f2f2f2;
}

#hero-info > #volunteer {
  display: block;
  margin-top: 50px;
  font-size: 80%;
  text-align: center;
  color: #fff;
}

#hero-info > #arrows {
  display: block;
  color: #fff;
  text-align: center;
  position: relative;
  animation: arrow-down 1s linear 0.5s infinite alternate-reverse;
}
@keyframes arrow-down {
  0% {
    top: 0;
  }
  100% {
    top: 15px;
  }
}

#hero-info > #signup-cta-btn {
  text-align: center;
}

#hero-info > #signup-cta-btn > #join-fight:link,
#hero-info > #signup-cta-btn > #join-fight:visited {
  display: inline-block;
  margin-top: 15px;
  font-size: 120%;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  background-color: #f7ecca;
  border-radius: 15px;
  text-decoration: none;
  padding: 15px 30px;
  transition: all 0.3s;
}

#hero-info > #signup-cta-btn > #join-fight:hover,
#hero-info > #signup-cta-btn > #join-fight:active {
  background-color: #33bd1a;
}

/**Footer Styling**/
.footer {
  height: 1fr;
  background-color: #253c1b;
  display: grid;
  grid-template-columns: 1fr 90px 1fr;
}

/***Contact Information Styling***/
.footer > #contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
  margin: 0 20px;
}

.contact-details {
  color: #c5c5c5;
}

div > .contact-icons {
  color: #f7ecca;
}

div > #icon-location:link,
div > #icon-location:visited,
div > #icon-email:link,
div > #icon-email:visited,
div > #icon-phone:link,
div > #icon-phone:visited {
  text-decoration: none;
}

div > #icon-location:hover,
div > #icon-location:active,
div > #icon-email:hover,
div > #icon-email:active,
div > #icon-phone:hover,
div > #icon-phone:active {
  color: #f7ecca;
  text-decoration: underline;
}

/***Socials Styling***/
.footer > #socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
}

#socials > .social-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li > #icon-instagram:link,
li > #icon-instagram:visited {
  color: #f7ecca;
  border-radius: 5px;
}
li > #icon-instagram:hover,
li > #icon-instagram:active {
  background-image: linear-gradient(
    rgb(252, 204, 99),
    rgb(251, 173, 80),
    rgb(205, 72, 107),
    rgb(76, 104, 215)
  );
}

li > #icon-twitter:link,
li > #icon-twitter:visited {
  color: #f7ecca;
  transition: all 0.3s;
}
li > #icon-twitter:hover,
li > #icon-twitter:active {
  color: #00acee;
}

li > #icon-facebook:link,
li > #icon-facebook:visited {
  color: #f7ecca;
  transition: all 0.3s;
}
li > #icon-facebook:hover,
li > #icon-facebook:active {
  color: #3b5998;
}

/***Copyright Styling***/
.footer > #copyright {
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 20px;
}

/*MEDIA QUERIES FOR INDEX.HTML*/
/**FOR SCREEN WIDTHS BELOW 840px**/
/***Main Styling***/
@media screen and (max-width: 840px) {
  #hero-text {
    font-size: 70%;
  }

  #hero-info > #volunteer {
    font-size: 80%;
  }

  #hero-info > #signup-cta-btn > #join-fight:link,
  #hero-info > #signup-cta-btn > #join-fight:visited {
    font-size: 100%;
  }
}

/*MEDIA QUERIES FOR INDEX.HTML*/
/**FOR SCREEN WIDTHS BELOW 550px**/
/***Main Styling***/
@media screen and (max-width: 550px) {
  #hero-section > #hero-info {
    margin: 0 50px;
  }

  #hero-text {
    font-size: 60%;
  }

  #hero-info > #volunteer {
    font-size: 60%;
  }

  #hero-info > #signup-cta-btn > #join-fight:link,
  #hero-info > #signup-cta-btn > #join-fight:visited {
    font-size: 70%;
  }
}

/*MEDIA QUERIES FOR INDEX.HTML*/
/**FOR SCREEN WIDTHS BELOW 480px**/
/***Main Styling***/
@media screen and (max-width: 480px) {
  #hero-info > #arrows {
    font-size: 30px;
  }

  #hero-text {
    font-size: 40%;
  }

  #hero-info > #signup-cta-btn > #join-fight:link,
  #hero-info > #signup-cta-btn > #join-fight:visited {
    font-size: 70%;
    padding: 10px 20px;
  }
}

/*MEDIA QUERIES FOR INDEX.HTML*/
/**FOR SCREEN WIDTHS BELOW 380px**/
/***Main Styling***/
@media screen and (max-width: 380px) {
  #hero-info > #volunteer {
    font-size: 40%;
  }

  #hero-info > #signup-cta-btn > #join-fight:link,
  #hero-info > #signup-cta-btn > #join-fight:visited {
    font-size: 60%;
  }
}

/*MEDIA QUERIES FOR INDEX.HTML*/
/**FOR SCREEN WIDTHS BELOW 330px**/
/***Main Styling***/
@media screen and (max-width: 330px) {
  #hero-info > #signup-cta-btn > #join-fight:link,
  #hero-info > #signup-cta-btn > #join-fight:visited {
    padding: 10px 10px;
    font-size: 50%;
  }
}

/*Opportunities.html*/

/**Header Styling**/
#header-fixed {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 5rem;
  background-color: #253c1b;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/***Title Logo Styling***/
#header-fixed > h1 {
  justify-self: center;
  align-self: center;
  font-size: 230%;
  color: #f7ecca;
}

/***Navigation Styling***/
#header-fixed > .nav-bar {
  display: flex;
  font-family: "Quattrocento", sans-serif;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

li > #opportunities-link-active:link,
li > #opportunities-link-active:visited {
  background-color: #000;
  color: #f7ecca;
  border: 2px solid #f7ecca;
}

/**Main Styling**/
#opportunities-container {
  background-color: #ded4b6;
  color: #000;
  height: auto;
}

#opportunities-container > #opportunities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  column-gap: 50px;
  padding-bottom: 100px;
}

#opportunities-container > #opportunities-text {
  font-size: 120%;
  padding-top: 120px;
  text-align: center;
}

#opportunities > .opportunities-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.opportunities-section > .volunteer-title {
  margin-top: 50px;
  font-size: 180%;
}

.opportunities-section > .volunteer-card {
  position: relative;
  height: 200px;
  width: 400px;
  background-color: #fff;
  border-radius: 20px;
  transition: all 0.6s;
  box-shadow: 3px 4px 10px #000;
}
.opportunities-section > .volunteer-card:hover {
  transform: scale(1.02);
  box-shadow: 7px 8px 15px -5px #000;
}

.volunteer-card > h3 {
  background-color: #fff;
  color: #000;
  padding: 10px;
  display: block;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.volunteer-card > .volunteer-card-description {
  display: inline-block;
  margin: 10px 80px 0 10px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 90%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

.volunteer-card > .volunteer-now:link,
.volunteer-card > .volunteer-now:visited {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;

  text-decoration: none;
  background-color: #253c1b;
  color: #f8eecf;
  font-size: 110%;
  font-weight: 600;
  border-radius: 10px 0 20px 0;
  border: 2px solid #000;
}
.volunteer-card > .volunteer-now:hover,
.volunteer-card > .volunteer-now:active {
  background-color: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  color: #fff;
  border: 2px solid #f8eecf;
}

/***Volunteer Card Icon Styling***/
.volunteer-card > .donate {
  position: relative;
}

.volunteer-card > .donate::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f4b9";
  position: absolute;
  left: 20px;
  color: #f59f00;
}

.volunteer-card > .tree {
  position: relative;
}
.volunteer-card > .tree::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1bb";
  position: absolute;
  left: 20px;
  color: #37b24d;
}

.volunteer-card > .marine {
  position: relative;
}
.volunteer-card > .marine::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\e4f2";
  position: absolute;
  left: 20px;
  color: #339af0;
}

.volunteer-card > .book {
  position: relative;
}
.volunteer-card > .book::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f02d";
  position: absolute;
  left: 20px;
  color: #e03131;
}

.volunteer-card > .help {
  position: relative;
}
.volunteer-card > .help::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f4be";
  position: absolute;
  left: 20px;
  color: #ff6b6b;
}

.volunteer-card > .disaster {
  position: relative;
}
.volunteer-card > .disaster::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\e515";
  position: absolute;
  left: 20px;
  color: #1864ab;
}

.volunteer-card > .wildlife {
  position: relative;
}
.volunteer-card > .wildlife::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f700";
  position: absolute;
  left: 20px;
  color: #775144;
}

/****Global Volunteering Cards****/
#opportunities > #opportunities-section-global {
  margin-left: 50px;
}

#opportunities-section-global > #amazon-rainforest {
  background: url(../images/amazon-rainforest-sunset-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 30%;
  transition: all 1s;
}

#opportunities-section-global > #marine-conservation {
  background: url(../images/sea-turtle-swimming-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 50%;
}
#opportunities-section-global > #donating-to-charity {
  background: url(../images/ukraine-flag-waving-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 40%;
}

#opportunities-section-global > #natural-disaster {
  background: url(../images/natural-disaster-aftermath-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 30%;
}
#opportunities-section-global > #educational {
  background: url(../images/children-at-school-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 40%;
}

/****Local Volunteering Cards****/
.opportunities-section > #planting-trees {
  background: url(../images/planting-a-tree-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 90%;
}
.opportunities-section > #donating-to-charity-2 {
  background: url(../images/man-preparing-food-for-delivery-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 30%;
}
.opportunities-section > #helping-the-homeless {
  background: url(../images/volunteers-giving-out-water-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 40%;
}
.opportunities-section > #wildlife-conservation {
  background: url(../images/group-of-animals-min.webp), no-repeat;
  background-size: cover;
  background-position: 0 40%;
}

/***Aside Styling***/
#opportunities > aside {
  position: relative;
  height: fit-content;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  background-color: #253c1b;
  color: #fff;
  border-radius: 20px 0 0 20px;
}

aside > #top-picks {
  margin-top: 10px;
  text-align: center;
  font-size: 150%;
}

aside > #top-picks-description {
  padding: 10px;
  font-size: 90%;
}

aside > ul {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 110%;
}

.extra-links > .top-pick-links:link,
.extra-links > .top-pick-links:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.extra-links > .top-pick-links:hover,
.extra-links > .top-pick-links:active {
  text-decoration: underline;
  color: #f7ecca;
}

/**Footer Styling - REMAINS THE SAME AS INDEX.HTML**/

/*MEDIA QUERIES FOR OPPORTUNITIES.HTML*/
/**FOR SCREEN WIDTH BELOW 1250px**/
@media screen and (max-width: 1250px) {
  /***Main Styling***/
  #opportunities-container > #opportunities {
    column-gap: 50px;
  }

  #opportunities > .opportunities-section {
    align-items: flex-start;
  }

  #opportunities-container > #opportunities-text {
    font-size: 100%;
  }

  .opportunities-section > .volunteer-title {
    font-size: 150%;
  }

  .opportunities-section > .volunteer-card {
    width: 300px;
  }

  .volunteer-card > .volunteer-card-description {
    font-size: 70%;
  }

  .volunteer-card > .volunteer-now:link,
  .volunteer-card > .volunteer-now:visited {
    font-size: 80%;
  }

  /****Aside Styling****/
  li > .extra-links {
    font-size: 80%;
    line-height: 1.2;
  }

  .extra-links > .top-pick-links:link,
  .extra-links > .top-pick-links:visited {
    font-size: 100%;
  }
}

/*MEDIA QUERIES FOR OPPORTUNITIES.HTML*/
/**FOR SCREEN WIDTH BELOW 1070px**/
@media screen and (max-width: 1070px) {
  /***Main Styling***/
  #donating-to-charity > #global-charity-text {
    font-size: 60%;
  }

  #opportunities-container > #opportunities-text {
    font-size: 90%;
  }

  .opportunities-section > .volunteer-title {
    font-size: 130%;
  }

  .volunteer-card > h3 {
    font-size: 90%;
  }

  /****Aside Styling****/
  li > .extra-links {
    font-size: 60%;
    line-height: 1.2;
  }

  aside > #top-picks {
    font-size: 130%;
  }

  aside > #top-picks-description {
    font-size: 80%;
  }
}

/*MEDIA QUERIES FOR OPPORTUNITIES.HTML*/
/**FOR SCREEN WIDTH BELOW 920px**/
@media screen and (max-width: 920px) {
  /***Main Styling***/
  .opportunities-section > .volunteer-card {
    position: relative;
    height: 150px;
    width: 250px;
  }

  #opportunities-container > #opportunities-text {
    font-size: 80%;
  }

  #donating-to-charity > #global-charity-text {
    font-size: 50%;
  }

  .opportunities-section > .volunteer-title {
    font-size: 100%;
  }

  .volunteer-card > .volunteer-card-description {
    font-size: 50%;
  }

  /****Aside Styling****/
  aside > #top-picks {
    font-size: 100%;
  }
}

/*MEDIA QUERIES FOR OPPORTUNITIES.HTML*/
/**FOR SCREEN WIDTH BELOW 840px**/
@media screen and (max-width: 840px) {
  /***Main Styling***/
  .opportunities-section > .volunteer-card {
    position: relative;
    height: 150px;
    width: 250px;
  }

  #opportunities-container > #opportunities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 0px;
  }
}

/*Member.html Styling*/
/**Header Styling**/
li > #member-link-active:link,
li > #member-link-active:visited {
  background-color: #000;
  color: #f7ecca;
  border: 2px solid #f7ecca;
}

/**Main Styling**/
#become-a-member-container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url(../images/holding-a-hand-heart-upto-the-sun-min.webp), no-repeat;
  background-size: cover;
}

#bg-img-sr {
  display: none;
}

#become-a-member-container > #form-faq-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
}

/***Form Styling***/
#form-faq-container > #form-container {
  height: fit-content;
  margin: 50px 100px 0 50px;
  padding: 50px;
  background-color: #253c1b;
  border-radius: 10px;
}

#form-container > #signup-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 30px 1fr;
  row-gap: 10px;
}

.input-box {
  height: 35px;
  width: 300px;
  padding: 0 5px;
  font-size: 100%;
}

label {
  color: #f7ecca;
}

/****Form Title of Form****/
#signup-form > #form-title {
  grid-column: 1 / -1;
  margin-bottom: 20px;
}

h2 > .fa-pen-to-square {
  position: relative;
  left: 10px;
  color: #e8590c;
}

/****Name Section of Form****/
#signup-form > #fl-name-container {
  display: flex;
  gap: 20px;
}

#fname,
#lname,
#password {
  margin-top: 3px;
  width: 200px;
}

/****Email Section of Form****/
#signup-form > #email-container {
  grid-column: 1 / -1;
}

#email-container > #main-email-container {
  display: flex;
  flex-direction: column;
}

#email {
  margin-top: 3px;
}

/****Password Section of Form****/
#password-container > #password-1 {
  display: flex;
  flex-direction: column;
}

/****Checkbox Section of Form****/
#signup-form > #checkbox-container {
  grid-column: 1 / -1;
}

#np-container {
  display: flex;
  gap: 5px;
}

/****Signup Btn of Form****/
#signup-form > #signup-btn {
  width: 200px;
  font-size: 120%;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #e8590c;
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

#signup-form > #signup-btn:hover {
  cursor: pointer;
  background-color: #ff922b;
}

/***FAQ Styling***/
#form-faq-container > #faq-container {
  height: fit-content;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #fff;
  margin: 50px 50px 0 0;
  width: auto;
}

.faqs > #faq-questions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/****FAQ Title of Form****/
.faqs > #faq-title {
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

h2 > .fa-circle-question {
  position: relative;
  left: 10px;
  color: #e8590c;
}

.faq-q-a > summary {
  cursor: pointer;
  list-style: none;
}

#faq-questions > .faq-q-a {
  background-color: rgb(247, 236, 202);
  padding: 10px;
  border-radius: 10px;
  color: #000;
}

/****FAQ Descriptions****/
.faq-q-a > .faq-question-title {
  font-weight: 700;
  font-size: 120%;
}

/**Footer Styling - REMAINS THE SAME AS INDEX.HTML**/

/*MEDIA QUERIES FOR MEMBER.HTML*/
/**FOR SCREEN WIDTH BELOW 1300px**/
@media screen and (max-width: 1300px) {
  /***Main Styling***/
  #become-a-member-container {
    height: 750px;
  }

  /* ***Form Styling****/
  #form-container > #signup-form {
    grid-template-rows: 1fr 1fr 1fr 1fr 20px 1fr;
  }

  #form-faq-container > #form-container {
    margin-right: 50px;
  }

  label {
    font-size: 100%;
  }

  #signup-form > #form-title {
    font-size: 130%;
  }

  h2 > .fa-pen-to-square {
    font-size: 130%;
  }

  /****FAQ Styling****/
  .faqs > #faq-title {
    font-size: 130%;
  }

  h2 > .fa-circle-question {
    font-size: 130%;
  }

  .faq-q-a > .faq-question-title {
    font-size: 100%;
  }

  #faq-questions > .faq-q-a {
    font-size: 80%;
  }
}

/**FOR SCREEN WIDTH BELOW 1070px**/
/***Main Styling***/
@media screen and (max-width: 1070px) {
  #become-a-member-container {
    height: 100vh;
  }
  #become-a-member-container > #form-faq-container {
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
  }

  /****Form Styling****/
  #form-container > #signup-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr 20px 1fr;
  }

  #form-faq-container > #form-container {
    padding: 30px;
  }

  .input-box {
    height: 20px;
    width: 200px;
    font-size: 70%;
  }

  #fname,
  #lname,
  #password {
    width: 100px;
  }

  label {
    font-size: 80%;
  }

  #signup-form > #form-title {
    font-size: 120%;
    line-height: 1.4;
  }

  h2 > .fa-pen-to-square {
    font-size: 130%;
  }

  #signup-form > #signup-btn {
    padding: 0px;
    font-size: 100%;
  }

  /****FAQ Styling****/
  .faqs > #faq-title {
    font-size: 100%;
    margin-bottom: 20px;
  }

  .faq-q-a > .faq-question-title {
    font-size: 80%;
  }

  #faq-questions > .faq-q-a {
    font-size: 60%;
  }
}

/**FOR SCREEN WIDTH BELOW 840px**/
/***Main Styling***/
@media screen and (max-width: 840px) {
  #become-a-member-container {
    height: 100vh;
  }
  #become-a-member-container > #form-faq-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 1fr;
  }

  /****Form Styling****/
  #form-faq-container > #form-container {
    width: fit-content;
    margin-right: 0;
  }

  #form-container > #signup-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 1fr 1fr 20px;
    row-gap: 0px;
    height: 230px;
  }

  #signup-form > #form-title {
    font-size: 120%;
    line-height: 1;
  }

  h2 > .fa-pen-to-square {
    font-size: 110%;
  }

  #signup-form > #fl-name-container {
    gap: 10px;
    width: 200px;
  }

  #signup-form > #signup-btn {
    padding: 10px;
    font-size: 70%;
  }

  /****FAQ Styling****/
  #form-faq-container > #faq-container {
    margin: 0 50px 50px 50px;
    width: fit-content;
  }
}

/**FOR SCREEN WIDTH BELOW 490px**/
/***Main Styling***/
/****Form Styling****/
@media screen and (max-width: 490px) {
  #become-a-member-container {
    height: auto;
  }

  #become-a-member-container > #form-faq-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 10px;
  }

  #form-faq-container > #form-container {
    margin-left: 20px;
    padding-bottom: 40px;
  }

  #form-container > #signup-form {
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 40px 35px 40px 15px 1fr;
  }

  #signup-form > #form-title {
    font-size: 80%;
  }

  .input-box {
    height: 15px;
    width: 150px;
    font-size: 50%;
  }

  #np-container {
    gap: 0;
  }

  #news-and-promo {
    height: 7px;
  }

  #news-and-promo-label {
    font-size: 7px;
  }

  #fname,
  #lname,
  #password {
    width: 100px;
  }

  label {
    font-size: 60%;
  }

  #signup-form > #signup-btn {
    padding: 5px;
    font-size: 50%;
    display: inline-block;
  }

  /****FAQ Styling****/
  #form-faq-container > #faq-container {
    margin-left: 20px;
  }

  .faqs > #faq-title {
    font-size: 80%;
    margin-bottom: 10px;
  }
}

/**FOR SCREEN WIDTH BELOW 380px**/
/***Main Styling***/
/****Form Styling****/
@media screen and (max-width: 380px) {
  #become-a-member-container > #form-faq-container {
    row-gap: 10px;
  }

  #form-container > #signup-form {
    height: 230px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 75px 40px 40px 20px;
  }

  #signup-form > #form-title {
    font-size: 60%;
  }

  #signup-form > #fl-name-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #fname-container {
    display: flex;
    flex-direction: column;
  }

  #lname-container {
    display: flex;
    flex-direction: column;
  }
}

/*Completed Signup Styling*/

/**Header Styling - REMAINS THE SAME AS INDEX.HTML**/

/*Main Styling*/
#completed-signup-container {
  height: 100vh;
  background-color: #f7ecca;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#completed-signup-container > #completion-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border-radius: 20px;

  height: fit-content;
  width: 700px;
  margin: 100px auto;
  padding: 100px;
}

#completion-container > #completion-title-and-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#completion-title-and-text > #completion-title {
  font-size: 300%;
  font-weight: 700;
  color: #000;
}

#completion-title-and-text > #completion-text {
  font-size: 150%;
  font-weight: 500;
  color: #3a3a3a;
}

#completion-title-and-text > .fa-circle-check {
  color: #54e616;
  align-self: center;
  position: relative;
  animation: throbbing-check 1s linear infinite alternate-reverse;
}
@keyframes throbbing-check {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

#completion-title-and-text > #return-back-text {
  color: #000;
  font-size: 130%;
  text-align: center;
  margin-top: 30px;
}

#return-back-text > .return-links:link,
#return-back-text > .return-links:visited {
  text-decoration: none;
  color: inherit;
}

#return-back-text > .return-links:hover,
#return-back-text > .return-links:active {
  text-decoration: underline;
  color: inherit;
}

/**Footer Styling - REMAINS THE SAME AS INDEX.HTML**/

/*MEDIA QUERIES FOR COMPLETED-SIGNUP.HTML*/
/**FOR SCREEN WIDTH BELOW 840px**/
/***Main Styling***/
@media screen and (max-width: 840px) {
  #completed-signup-container > #completion-container {
    padding: 30px;
    width: 400px;
  }

  #completion-title-and-text > #completion-title {
    font-size: 150%;
  }

  #completion-title-and-text > #completion-text {
    font-size: 100%;
  }

  #completion-title-and-text > .fa-circle-check {
    font-size: 300%;
  }

  #completion-title-and-text > #return-back-text {
    font-size: 100%;
    margin-top: 10px;
  }
}

/**FOR SCREEN WIDTH BELOW 480px**/
/***Main Styling***/
@media screen and (max-width: 480px) {
  #completed-signup-container > #completion-container {
    margin: 50px;
    width: auto;
  }
  #completion-title-and-text > #completion-text {
    font-size: 80%;
  }
}

/**FOR SCREEN WIDTH BELOW 380px**/
/***Main Styling***/
@media screen and (max-width: 380px) {
  #completion-title-and-text > #completion-title {
    font-size: 120%;
  }

  #completion-title-and-text > #completion-text {
    font-size: 50%;
  }

  #completion-title-and-text > .fa-circle-check {
    font-size: 200%;
  }

  #completion-title-and-text > #return-back-text {
    font-size: 60%;
    margin-top: 0px;
  }
}

/**FOR SCREEN WIDTH BELOW 330px**/
/***Main Styling***/
@media screen and (max-width: 330px) {
  #completion-title-and-text > #completion-title {
    font-size: 100%;
  }
}

/*MEDIA QUERIES FOR ALL HTML PAGES*/
/**FOR SCREEN WIDTHS BELOW 840px**/
/***Header Styling***/
@media screen and (max-width: 840px) {
  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #253c1b;
  }

  #header-fixed {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #253c1b;
  }

  #header-fixed > h1 {
    font-size: 230%;
  }

  #header-fixed > .nav-bar {
    display: grid;
    justify-content: center;
    margin: 0;
  }

  .header > h1 {
    font-size: 230%;
  }

  .header > .nav-bar {
    display: grid;
    justify-content: center;
    margin: 0;
  }

  .nav-bar > .nav-links {
    padding: 10px 0 20px 0;
  }

  li > .links:link,
  li > .links:visited {
    font-size: 80%;
  }

  /***Footer Styling***/
  #contact-info > #contact-heading,
  #socials > #socials-heading {
    font-size: 80%;
  }

  div > .contact-details {
    font-size: 70%;
  }

  div > .contact-icons {
    font-size: 60%;
  }

  div > #icon-email:link,
  div > #icon-email:visited,
  div > #icon-phone:link,
  div > #icon-phone:visited,
  div > #icon-location:link,
  div > #icon-location:visited {
    font-size: 70%;
  }

  li > #icon-instagram:link,
  li > #icon-instagram:visited,
  li > #icon-twitter:link,
  li > #icon-twitter:visited,
  li > #icon-facebook:link,
  li > #icon-facebook:visited {
    font-size: 70%;
  }
}

/**FOR SCREEN WIDTHS BELOW 550px**/
/***Footer Styling***/
@media screen and (max-width: 550px) {
  #contact-info > #contact-heading,
  #socials > #socials-heading {
    font-size: 60%;
  }

  div > .contact-details {
    font-size: 50%;
  }

  div > .contact-icons {
    font-size: 50%;
  }

  div > #icon-email:link,
  div > #icon-email:visited,
  div > #icon-phone:link,
  div > #icon-phone:visited,
  div > #icon-location:link,
  div > #icon-location:visited {
    font-size: 60%;
  }

  li > #icon-instagram:link,
  li > #icon-instagram:visited,
  li > #icon-twitter:link,
  li > #icon-twitter:visited,
  li > #icon-facebook:link,
  li > #icon-facebook:visited {
    font-size: 70%;
  }

  .footer > #copyright {
    font-size: 70%;
  }

  .footer > #contact-info {
    gap: 5px;
  }

  #socials > .social-links {
    gap: 10px;
  }
}

/**FOR SCREEN WIDTHS BELOW 480px**/
/***Header Styling***/
@media screen and (max-width: 480px) {
  li > .links:link,
  li > .links:visited {
    font-size: 60%;
  }

  .header > h1 {
    font-size: 180%;
  }
}

/**FOR SCREEN WIDTHS BELOW 380px**/
/***Footer Styling***/
@media screen and (max-width: 380px) {
  li > #icon-instagram:link,
  li > #icon-instagram:visited,
  li > #icon-twitter:link,
  li > #icon-twitter:visited,
  li > #icon-facebook:link,
  li > #icon-facebook:visited {
    font-size: 70%;
  }

  div > .contact-details {
    font-size: 30%;
  }

  div > .contact-icons {
    font-size: 40%;
  }

  div > #icon-email:link,
  div > #icon-email:visited,
  div > #icon-phone:link,
  div > #icon-phone:visited,
  div > #icon-location:link,
  div > #icon-location:visited {
    font-size: 50%;
  }

  #contact-info > #contact-heading,
  #socials > #socials-heading {
    font-size: 40%;
  }

  .footer > #copyright {
    font-size: 40%;
  }
}

/**FOR SCREEN WIDTHS BELOW 330px**/
/***Header Styling***/
@media screen and (max-width: 330px) {
  .nav-bar > .nav-links {
    padding: 0 0 20px 0;
  }

  li > .links:link,
  li > .links:visited {
    font-size: 50%;
    padding: 5px 10px;
  }

  .header > h1 {
    font-size: 140%;
  }

  /***Footer Styling***/
  div > .contact-details {
    font-size: 20%;
  }

  div > .contact-icons {
    font-size: 40%;
  }

  div > #icon-email:link,
  div > #icon-email:visited,
  div > #icon-phone:link,
  div > #icon-phone:visited,
  div > #icon-location:link,
  div > #icon-location:visited {
    font-size: 40%;
  }
}
